<!-- ========================================================================================== -->
<div class="main" *ngIf="!false">
  <div class="container">
    <a class="category" (click)="getItemsByCategory('sports')">sports</a>
    <a class="category" (click)="getItemsByCategory('dryFruits')">dryFruits</a>
    <a class="category" (click)="getItemsByCategory('cloths')">cloths</a>
    <a class="category" (click)="getItemsByCategory('footware')">footware</a>
    <a class="category" (click)="getItemsByCategory('homeandKitchen')">homeandKitchen</a>
    <a class="category" (click)="getItemsByCategory('cosmetics')">cosmetics</a>
    <a class="category" (click)="getItemsByCategory('books')">books</a>
    <a class="category" (click)="getItemsByCategory('vegetables')">vegetables</a>
    <a class="category" (click)="getItemsByCategory('electronics')">electronics</a>
    <a class="category" (click)="getItemsByCategory('grocery')">grocery</a>
    <a class="category" (click)="getItemsByCategory('spectacles')">spectacles</a>
    <a class="category" (click)="getItemsByCategory('pharmaceutical')">pharmaceutical</a>
    <a class="category" (click)="getItemsByCategory('flowers')">flowers</a>
    <a class="category" (click)="getItemsByCategory('jwellery')">jwellery </a>


  </div>
  <div class="maincontainer" *ngIf="this.serve.showcategory==0">
    <div class="containerOfpopularItems" *ngFor="let item of this.serve.popularItems">

      <div class="productImg productInfo">
        <ng-template *ngIf="item.file!=null">
          {{item.file.filebyte}}
        </ng-template>

      </div>

      <div class="productInfo">{{item.itemname}} {{item.brand}}</div>

      <div class="productInfo">Price :₹{{item.price}}</div>
      <div class="productInfo" *ngIf="item.qty!=0">Stock :{{item.qty}}</div>
      <div class="productInfo" *ngIf="item.qty==0" style="color:red">Out of Stock</div>

      <div class="productInfo"> Rating :{{item.ratingstar}}</div>
      <div class="productInfo" style="color: brown;">Sold Qty :{{item.numberofdelivariesdone}}</div>

    </div>

  </div>
  <div class="maincontainer" *ngIf="this.serve.showcategory==1">
    <div class="containerOfpopularItems" *ngFor="let item of this.serve.categorisedItems">

      <div class="productImg productInfo" (click)="this.serve.showMoreAboutThisItem(item)">
        <ng-template [ngIf]="item.file!=null">
          {{item.file.filebyte}}
        </ng-template>

      </div>
      <div class="productInfo">{{item.itemname}} {{item.brand}}</div>

      <div class="productInfo">Price :₹{{item.price}}</div>
      <div class="productInfo" *ngIf="item.qty!=0">Stock :{{item.qty}}</div>
      <div class="productInfo" *ngIf="item.qty==0" style="color:red">Out of Stock</div>

      <div class="productInfo"> Rating :{{item.ratingstar}}</div>
      <div class="productInfo" style="color: brown;">Sold Qty :{{item.numberofdelivariesdone}}</div>
      <div class="productInfo">
       <div class="cartAndbuy">
        <div class="cart">
          <svg (click)="this.serve.addToCart(item)" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
            <path
              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
          </svg>
        </div>
        <button>Buy Now</button>
       </div>
      </div>

    </div>

  </div>

  <div class="maincontainer" *ngIf="this.serve.showcategory==2">

    <div class="containerOfpopularItems" *ngFor="let item of this.serve.searchItem">

      <div class="productImg productInfo" (click)="this.serve.showMoreAboutThisItem(item)">
        <ng-template [ngIf]="item.file!=null">
          {{item.file.filebyte}}
        </ng-template>

      </div>
      <div class="productInfo">{{item.itemname}} {{item.brand}}</div>

      <div class="productInfo">Price :₹{{item.price}}</div>
      <div class="productInfo" *ngIf="item.qty!=0">Stock :{{item.qty}}</div>
      <div class="productInfo" *ngIf="item.qty==0" style="color:red">Out of Stock</div>

      <div class="productInfo"> Rating :{{item.ratingstar}}</div>
      <div class="productInfo" style="color: brown;">Sold Qty :{{item.numberofdelivariesdone}}</div>
      <div class="productInfo">
       <div class="cartAndbuy">
        <div class="cart">
          <svg (click)="this.serve.addToCart(item)" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
            <path
              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
          </svg>
        </div>
        <button>Buy Now</button>
       </div>
      </div>
    </div>
  
  </div>
  <!-- ================================================================================================== -->


</div>